qgsolver/

clean~
clean
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# eclipse related files 
.project
.pydevproject
.settings/

# pycharm file
.idea/
#.idea/workspace.xml

# data files
*.nc
/dev/data/

# fig and movies
*.jpg
*.pdf
*.mp4

# openoffice
*.odp#

